
:root {
    --primary-clr-: #2959ac;
    --secondary-clr-: #081d42;
    --whiter-clr-: #e6ebf2;
  }

@media (max-width: 992px) {
    
    .user_option {
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;
    }
    .col-image {
        display: none;
    }
    .custom_nav-container {
        flex-direction: row;
    }

    .custom_nav-container .navbar-nav {
        align-items: center;
    }

    .logo-header{
        display: none;
    }
    .fix-top{
        background-color: var(--whiter-clr-);
        margin: 5px;
        border-radius: 15px;
    }
    
}

@media (min-width: 993px){
    .navbar-brand{
        display: none;
    } 
    #navbarSupportedContent {
        display: flex;
        justify-content: space-between;
        }
}

@media (max-width: 768px) {

    .info_section .row>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info_section {
        margin: 0 25px 25px;
    }
    
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    .fix-top{
        background-color: var(--whiter-clr-);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 576px) {
    .contact_section {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    
}

@media (max-width: 480px) {
    .info_section .row>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info_section {
        margin: 0 25px 25px;
    }
    
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    .fix-top{
        background-color: var(--whiter-clr-);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    
    .information_section .detail-box h1 {
    text-decoration: none;
    font-size: 35px;
      margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    
    #navbarSupportedContent {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    }

    .navbar-brand{
        display: none;
    } 
}

@media (min-width:768px) {

    #navbarSupportedContent {
    margin: 20px;
    }

}
