.container-side {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    height: 100vh;
  }
aside {
    background-color: #292727;
    padding: 2rem 0;
    width: 200px;
    height: -webkit-fill-available;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .mobile-aside {
    display: none;
  }
  
  .side-upper div i,
  .log-out i {
    font-size: 2rem;
  }
  
  .log-out {
    width: 150px;
  }
  
  .search,
  .messages,
  .saved {
    width: 100%;
    align-self: flex-start;
  }
  
  .search,
  .messages,
  .saved,
  .log-out {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .search:hover,
  .messages:hover,
  .saved:hover,
  .search.active,
  .saved.active,
  .log-out:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .side-upper {
    height: 70%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35%;
    cursor: pointer;
  }
  
  .profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .settings-img {
    height: 150px;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: end;
  }
  
  .settings-img img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 832px) {
    aside {
      width: 90px;
    }
    .profile-pic {
      width: 70px;
      height: 70px;
    }
    .search,
    .messages,
    .saved,
    .log-out {
      justify-content: center;
      align-items: center;
    }
    .responsive,
    .name {
      display: none;
    }
  
    .settings-img img {
      height: 110px;
      width: 110px;
    }
  }
  
  @media screen and (max-width: 454px) {
    aside {
      display: none;
    }
    .mobile-aside {
      z-index: 999;
      position: sticky;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10%;
      transition-duration: 0.3s;
      background-color: #292727;
    }
  
    .mobile-aside div {
      font-size: 2.5rem;
    }
    .mobile-aside img {
      height: 2.5rem;
      width: 2.5rem;
      object-fit: cover;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .mobile-aside > *:active,
    .mobile-aside .bx-search.active {
      color: #fb2e2e;
    }
    .settings-img {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .favorites {
      width: 100%;
    }
  }
  .worker-profile {
    width: 1200px;
    height: 35%;
    cursor: pointer;
    margin-left: 10rem;
    display: grid;
    align-content: center;
    align-items: center;

  }